@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Unlock&display=swap');

/*
CORES DO SITE
PALETA DE CORES DO SITE
#2A0088 = AZUL/ROXO
#FF0000 = VERMELHO GRADIENTE
#FFAA00 = LARANJA GRADIENTE
#006FFF = AZUL BOTÃO
#00CF00 = VERDE BOTÃO
#FAFAFA = FUNDO DO SITE
*/
:root {
    --cor0: #2A0088;
    --cor1: #FF0000;
    --cor2: #FF6A00;
    --cor3: #006FFF;
    --cor4: #00CF00;
    --cor5: #FAFAFA;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor5);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    height: 100%;
}


/* Ajustes no Header */

header {
    background-color: var(--cor0);
    padding: 10px 0;
    color: white;
}

.linha-laranja {
    width: 100;
    height: 10px;
    background: radial-gradient(circle, #FF0000, #FFAA00); }

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    /* Aumentando o espaçamento lateral */
}

.logo img {
    width: 200px;
    /* Ajuste o tamanho da logo */
}


/*barra de pesquisa*/

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 40%;
    margin-left: 10%;
}

.search-bar input {
    flex-grow: 1;
    padding: 10px 20px;
    border-radius: 30px;
    border: 2px solid var(--cor2);
    margin-right: 10px;
}

.search-bar button {
    padding: 10px 15px;
    border-radius: 50%;
    background-color: var(--cor2);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 16px;
}

.search-bar button:hover {
    background-color: #333;
}

.btn-vender {
    background-color: #FFAA00;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
    margin-left: 10px;
}

.btn-vender:hover {
    background-color: #FF8800;
    transform: scale(1.05);
}

.btn-vender:active {
    transform: scale(0.95);
}


/* Ajuste na Right Info */

.right-info {
    display: flex;
    align-items: center;
    width: 300px;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
}

.right-top {
    display: flex;
}

.location-icon i {
    font-size: 50px;
    margin-right: 5px;
    margin-right: 20px;
}

.text-enter {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.Login a {
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

.Login a:hover {
    color: #FF6A00;
}


/* Ajustes na barra de navegação */

nav {
    display: flex;
    height: 41px;
    background-color: var(--cor0);
    padding: 10px;
    align-items: flex-start;
    justify-content: center;
    margin-top: -33px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 0;
    margin: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: lighter;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #FF6A00;
}


/* Estilo básico do menu */
.div_icones {
    position: relative;
    display: flex;
    align-items: center;
}

#icone_perfil {
    cursor: pointer;
    color: var(--cor5);
    font-size: 20px;
}

.icone_carrinho {
    margin-right: 10px;
    font-size: 20px;
}

.link_saudação {
    color: var(--cor5);
    font-weight: bolder;
    text-decoration: none;
    font-size: 20px;
    margin: 2px;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--cor2);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: var(--cor5);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: var(--cor4);
}
.dropdown:hover .dropdown-content {
    display: block;
}
.content {
    margin: 20px;
    background-color: var(--cor4);
    padding: 20px;
    border-radius: 10px;
}


/* Formulário de Cadastro de Produto */
.product-form-section {
    background-color: #FAFAFA;
    padding: 40px;
    max-width: 600px;
    margin: 50px auto;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.product-form-section h2 {
    color: #2A0088;
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}

.product-form-section p {
    color: #555;
    text-align: center;
    margin-bottom: 30px;
}

.main_cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #ffffff; /* Branco de fundo do container */
    padding: 20px;
    border-radius: 8px;
    width: 350px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid var(--cor3);
    margin: 10px 0px 10px 0px;
  }
  
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #4b0082; /* Texto do label roxo */
  }
  
  input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    background-color: #f0f0f0; /* Input branco */
    color: #000; /* Texto preto */
  }
  
  .btn-cadastrar {
    padding: 10px;
    border: none;
    background-color: #ff8c00; /* Botão laranja */
    color: white; /* Texto branco */
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
  }

  .btn-delete {
    padding: 10px;
    border: none;
    background-color: #ff8c00; /* Botão laranja */
    color: white; /* Texto branco */
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #4b0082; /* Hover roxo */
  }
  
  .error-message {
    color: #ff8c00; /* Mensagem de erro laranja */
    font-size: 12px;
    display: none;
  }
  

.form-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.form-buttons button {
    flex: 1;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}



/* Footer */

footer {
    background-color: #f1f1f1;
    padding: 20px 0;
    border-top: 3px solid #FF6A00;
    color: #333;
    text-align: center;
    width: 100%;
    position: relative;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 20px;
}

.footer-links ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 14px;
    transition: color 0.3s ease;
}

.footer-links ul li a:hover {
    color: #FF6A00;
}

.footer-info p {
    font-size: 12px;
    color: #666;
    text-align: center;
}


/* Responsividade */

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
    p {
        font-size: 0.9rem;
    }
    nav ul {
        flex-direction: column;
        gap: 20px;
    }
    .header-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .search-bar {
        margin-top: 10px;
        width: 100%;
    }
    .search-bar input {
        width: 80%;
        margin-bottom: 10px;
    }
    .banner {
        padding: 20px;
        height: auto;
    }
    .banner-content {
        flex-direction: column;
    }
    .banner-text h1 {
        font-size: 40px;
    }
    .banner-text p {
        font-size: 20px;
    }
    .drone-flying {
        width: 80px;
        /* Ajuste o tamanho conforme necessário */
        position: relative;
        animation: fly 5s ease-in-out forwards;
    }
    /* Animação do drone voando da esquerda para a direita */
    @keyframes fly {
        0% {
            transform: translateX(-300px);
            /* Fora da tela */
        }
        100% {
            transform: translateX(0);
            /* Posição final */
        }
    }
}